<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FullTestSuite">
    <test name="RunAllTests">
        <classes>
            <class name="tests.DentsplyTest"/>
        </classes>
    </test>
</suite>

        <!-- Run All Tests -->
        <!-- mvn test -DsuiteXmlFile=testng.xml -->
